<%- include('includes/head') %>
<h1>Formulario</h1>
<form action="/resultado" method="POST">
    <input type="text" name="dato" required>
    <button type="submit">Enviar</button>
</form>
<%- include('includes/footer') %>
